body {
    display: grid;
    height: .95vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 80px;
    grid-column: 1 / 4;
    grid-row: 1;
    justify-self: center;
    margin-top: 20px;
}

h3 {
    text-align: center;
}

.grid {
    border: 2px solid;
    display: grid;
    height: 700px;
    width: 700px;
    grid-row: 2;
    grid-column: 2;
}

.wrapper {
    border-width: 1px;
}

.cell {
    height: 100%;
    width: 100%;
}

.controls {
    border: 2px solid;
    grid-row: 2;
    grid-column: 1;
    margin: 50px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
}

#clear {
    width: 100px;
}

.controls.sizeSlider {
    width: 100px;
}