body {
    display: grid;
    height: .95vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 80px;
    grid-column: 1 / 4;
    grid-row: 1;
    justify-self: center;
}

.grid {
    border: 2px solid;
    display: grid;
    width:min-content;
    grid-row: 2;
    grid-column: 2;
}

.cell {
    border: 2px solid;
    height: 40px;
    width: 40px;   
}